@import '../style/reset'

@import '../style/colors'

@import '../style/fonts'

@import '../style/jumbotron'

@import '../style/nav'

@import '../style/feature'

@import '../style/loops'

@import '../style/gallery'

@import '../style/staff'

@import '../style/carousel'

@import '../style/download'

@import '../style/contact'

@import '../style/footer'

@import '../style/media'


*
  box-sizing: border-box

body
  margin: 0
  padding: 0

.break
  flex-basis: 100%
  height: 0
  overflow: hidden
  width: 0
