.gallery
  padding-bottom: 100px

  .container-fluid
    flex-flow: row wrap
    margin: 0 auto
    display: flex
    justify-content: center
    align-items: center
    overflow: hidden
    padding-right: 0
    padding-left: 0

    img 
      border: .5px solid $white
      height: 100%
      width: auto

